@import "bootstrap-sprockets";
@import "bootstrap";

.container-fluid {
  padding: 0px;
}

.head_row {
  background-color: black;
}

.logo_sign {
  height: 60px;
  width: 60px;
}

nav {
  float: right;
  margin-top: 8px;
  margin-right: 10px;
}

.bg-info,
.bg-danger {
  text-align: center;
  font-size: 150%;
}

.app_edit_page,
.app_show_view,
.app_new_view,
.edit_user_page,
.sign_in_page,
.sign_up_view,
.app_index_page {
  text-align: center;
}

.app_list {
  border:1px solid black;
  border-top-style:none
}

.app_list_id,
.app_list_titel {
  top: 9px;
}

.register_delete_app {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 25px;
  font-size: 80%;
}

.event_name,
.event_count {
  font-weight: bold;
  text-decoration: underline;
}

.graph {
  width: 300px;
  margin-right: auto;
}